REPO_BASE_URL=
AGENT_TOKEN=
AGENT_SECRET=
AGENT_USERNAME=coding-agent
OPEN_ROUTER_API_KEY=
AGENT_MODEL=z-ai/glm-5
PLANNING_MODEL=openai/gpt-5.4
AUDIO_MODEL=google/gemini-2.5-flash
DB_URL=main-db:5984
DB_USER=admin
DB_PASSWORD=password
DB_NAME=root
SLACK_SIGNING_SECRET=
SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=
ADMIN_SECRET=
COMPACT_ON_POST="true"
